a.site-title:before {
    content: "";
    display: block;
    background: url("/assets/smartbot.png") no-repeat;
    background-size: contain;
    width: 48px;
    height: 48px;
    float: left;
    margin: 3px 6px 0 0;
}